<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.HistoryDao">
    <select id="getHistory" resultType="com.mobilecourse.backend.model.History">
        SELECT *
        FROM History
        WHERE uid=#{uid} AND sid=#{sid}
    </select>
    <select id="getUserHistoriesCount" resultType="Integer">
        SELECT COUNT(*)
        FROM History
        WHERE uid=#{uid}
    </select>
    <select id="getUserHistories" resultType="com.mobilecourse.backend.model.History">
        SELECT *
        FROM History
        WHERE uid=#{uid}
        ORDER BY watchTime DESC, sid DESC
        <if test="size != null">
            LIMIT <if test="offset != null">#{offset}, </if> #{size}
        </if>
    </select>
    <update id="updateHistory">
        UPDATE History
        SET watchTime=CURRENT_TIMESTAMP
        WHERE uid=#{uid} AND sid=#{sid}
    </update>
    <insert id="putHistory">
        INSERT INTO History(uid, sid)
        VALUES (#{uid}, #{sid})
    </insert>
</mapper>