<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.SubmissionDao">
    <select id="getSubmission" resultType="com.mobilecourse.backend.model.Submission">
        SELECT *
        FROM Submission
        WHERE sid=#{sid}
    </select>
    <insert id="putSubmission" parameterType="com.mobilecourse.backend.model.Submission">
        INSERT INTO Submission(uid, type, pid, title, cover, introduction, resource)
        values (#{uid}, #{type}, #{pid}, #{title}, #{cover}, #{introduction}, #{resource})
    </insert>
    <update id="setSubmission" parameterType="com.mobilecourse.backend.model.Submission">
        UPDATE Submission
        <set>
            <if test="uid != null">uid = #{uid}, </if>
            <if test="type != null">type = #{type}, </if>
            <if test="pid != null">pid = #{pid}, </if>
            <if test="title != null">title = #{title}, </if>
            <if test="cover != null">cover = #{cover}, </if>
            <if test="introduction != null">introduction = #{introduction}, </if>
            <if test="resource != null">resource = #{resource}, </if>
        </set>
        WHERE sid=#{sid}
    </update>
    <select id="searchSubmission">
        SELECT *
        FROM Submission
        WHERE title like "%"#{title}"%"
        ORDER BY LENGTH(title) ASC, sid DESC
        <if test="maxCount != null">
            LIMIT #{maxCount}
        </if>
    </select>
    <select id="getCount" resultType="Integer">
        SELECT COUNT(*)
        FROM Submission
        <if test="pid != null">WHERE pid = #{pid}</if>
    </select>
    <select id="getCountOfUser" resultType="Integer">
        SELECT COUNT(*)
        FROM Submission
        WHERE uid IN
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <delete id="deleteSubmission">
        DELETE FROM Submission
        WHERE sid=#{sid}
    </delete>
    <select id="getSubmissionHistory" resultType="com.mobilecourse.backend.model.Submission">
        SELECT *
        FROM Submission
        WHERE uid IN
        <foreach collection="uids" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        ORDER BY submissionTime DESC, sid DESC
        <if test="size != null">
            LIMIT <if test="offset != null">#{offset}, </if> #{size}
        </if>
    </select>
    <select id="getSubmissionNewPage" resultType="com.mobilecourse.backend.model.Submission">
        SELECT *
        FROM Submission
        <if test="pid != null">
            WHERE pid=#{pid}
        </if>
        ORDER BY submissionTime DESC, sid DESC
        <if test="size != null">
            LIMIT <if test="offset != null">#{offset}, </if> #{size}
        </if>
    </select>
    <select id="getSubmissionHotPage" resultType="com.mobilecourse.backend.model.Submission">
        SELECT *
        FROM Submission
        <if test="pid != null">
            WHERE pid=#{pid}
        </if>
        ORDER BY watchTimes DESC, sid DESC
        <if test="size != null">
            LIMIT <if test="offset != null">#{offset}, </if> #{size}
        </if>
    </select>
    <update id="increaseWatchTimes">
        UPDATE Submission
        SET watchTimes=watchTimes+1
        WHERE sid=#{sid}
    </update>
</mapper>