<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.SubmissionDao">
    <select id="getSubmission" resultType="com.mobilecourse.backend.model.Submission">
        SELECT *
        FROM Submission
        WHERE sid=#{sid}
    </select>
    <insert id="putSubmission" parameterType="com.mobilecourse.backend.model.Submission">
        INSERT INTO Submission(type, pid, title, cover, introduction, resource)
        values (#{type}, #{pid}, #{title}, #{cover}, #{introduction}, #{resource})
    </insert>
    <update id="setSubmission" parameterType="com.mobilecourse.backend.model.Submission">
        UPDATE Submission
        <set>
            <if test="type != null">type = #{type}, </if>
            <if test="pid != null">pid = #{pid}, </if>
            <if test="title != null">title = #{title}, </if>
            <if test="cover != null">cover = #{cover}, </if>
            <if test="introduction != null">introduction = #{introduction}, </if>
            <if test="resource != null">resource = #{resource}, </if>
        </set>
        WHERE sid=#{sid}
    </update>
</mapper>