<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.UserDao">
    <select id="userCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM User;
    </select>
    <select id="getUserByUsername" resultType="com.mobilecourse.backend.model.User">
        SELECT *
        FROM User
        WHERE username=#{username}
    </select>
    <select id="getUserByEmail" resultType="com.mobilecourse.backend.model.User">
        SELECT *
        FROM User
        WHERE email=#{email}
    </select>
    <select id="getUserByUid" resultType="com.mobilecourse.backend.model.User">
        SELECT *
        FROM User
        WHERE uid=#{uid}
    </select>
    <insert id="registerUser" parameterType="com.mobilecourse.backend.model.User">
        INSERT INTO User
        <trim prefix="(" suffix=")" suffixOverrides="," >
            username, password, email, nickname
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{username}, #{password}, #{email}, #{nickname}
        </trim>;
    </insert>
    <select id="searchUser" resultType="com.mobilecourse.backend.model.User">
        SELECT *
        FROM User
        WHERE username like "%"#{subUsername}"%"
        ORDER BY LENGTH(username) ASC, uid DESC
        LIMIT #{maxNumber}
    </select>
    <update id="updateUser" parameterType="com.mobilecourse.backend.model.User">
        UPDATE User
        <set>
            <if test="nickname != null">nickname = #{nickname}, </if>
            <if test="bio != null">bio = #{bio}, </if>
            <if test="department != null">department = #{department}, </if>
            <if test="avatar != null">avatar = #{avatar}</if>
        </set>
        WHERE uid = #{uid};
    </update>
    <update id="updatePassword">
        UPDATE User
        SET password=#{password}
        WHERE username = #{username};
    </update>
</mapper>